# Set the default behavior, in case people don't have core.autocrlf set.
# * text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
#*.txt text

*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.cc text eol=lf
*.tcc text eol=lf

#*.sln text eol=crlf
#*.vcxproj text eol=crlf
#*.vcxproj.filters eol=crlf
#*.vcxproj.user eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary